{% extends 'base.html.twig' %}

{% block body %}
<style>
   .wrap{
        position:relative;
   }
   section#header{
        position:sticky;
        top:0;
        width:100%;
        padding:5px 10px;
        background-color:rgba(237, 237, 237,.5);
   }
</style>

<div id="citations" class="citation-theme">
    <section class="leftpart">
        {% include 'leftmenu.html.twig' %}
    </section>
    <section class="mediumpart">
        <div class="wrap">
            <section id="header" class="d-flex justify-content-between pt-2">
                <div class="h4">Accueil</div>
                {% if app.user is not null %}
                    <div>
                        <a href="{{ path('app_citation',{'id':0}) }}" class="btn btn-outline-primary btn-sm">Poster</a>
                    </div>
                {% endif %}
            </section>
            <section>
                <article class="onecitation" >
                    <div class="author-time">
                        <span class="author">{{ item.user.name }}</span>
                        <span class="time">{{ item.created|date("d/m/Y h:i:s") }}</span>
                    </div>
                    <div class="message">{{ item.message|raw }}</div>
                    {% if item.photo != "" %}
                        <div class="photo">
                            <img src="{{ item.photo }}" alt="">
                        </div>
                    {% endif %}
                    <div class="footer">
                        <div class="responses">
                            {{ item.comments|length }} commentaires
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </section>
    <section class="rightpart">
        {% include 'rightmenu.html.twig' %}
    </section>
</div>

<script>
    
</script>
{% endblock %}
